In [171]:
def PageRank(dist_mat, iter=500):
    res=np.ones(dist_mat.shape[0])/dist_mat.shape[0]
    for i in range(iter):
        res = dist_mat.dot(res)
        res = res/np.sum(np.abs(res))
    return res

In [172]:
import pandas as pd
import numpy as np
from xml.etree  import ElementTree

In [173]:
tr=ElementTree.parse('padgett.xml')

In [174]:
d_names={}

In [175]:
i=0
for names in tr.iter('node'):   
    d_names[names.attrib['id']]=i
    i+=1

In [176]:
size=len(d_names)
dist_mat = np.empty((size, size))

In [177]:
for t in tr.iter('link'):
    dist_mat[d_names[t.attrib['target']],d_names[t.attrib['source']]]=float(t.attrib["value"])+0.001

In [178]:
res=PageRank(dist_mat)

In [179]:
df=pd.DataFrame()

In [180]:
df['names']=list(d_names.keys())
df['PageRank']=res

In [181]:
df

        names  PageRank
0   ACCIAIUOL  0.037833
1     ALBIZZI  0.069696
2   BARBADORI  0.060426
3    BISCHERI  0.080600
4   CASTELLAN  0.073843
5      GINORI  0.021630
6    GUADAGNI  0.082511
7   LAMBERTES  0.025551
8      MEDICI  0.122652
9       PAZZI  0.013108
10    PERUZZI  0.078569
11      PUCCI  0.000306
12    RIDOLFI  0.097246
13   SALVIATI  0.041843
14    STROZZI  0.101352
15  TORNABUON  0.092831